# Distionary in python

In [ ]:
A dictionary is a collection of keyâ€“value pairs in Python.
A dictionary is an unordered collection of items in Python.
Each value is accessed using its key, not by position (like in lists).

In [ ]:
Keys are unique and immutable (like strings, numbers, tuples).
Values can be any Python object, even another dictionary.

In [ ]:
#mutable
#keys are not duplicate
#keys are not mutable
#values are mutable

In [1]:
s={}

In [1]:
s={1,2,3,'rohit'}
type(s)

set

In [1]:
s={'a':10}
print(type(s))
s['a']

<class 'dict'>

10

In [4]:
s={'name':'amit'}
print(s)

{'name': 'amit'}

In [5]:
s['amit']

KeyError: 'amit'

In [2]:
d={'name':'amit','age':21,'addr':'derabassi'}
d['age']

21

In [3]:
d.keys()

dict_keys(['name', 'age', 'addr'])

In [4]:
d.values()

dict_values(['amit', 21, 'derabassi'])

In [5]:
e={'name':['amit','mohit'],'age':[21,21]}
e

{'name': ['amit', 'mohit'], 'age': [21, 21]}

In [6]:
e['name']

['amit', 'mohit']

In [8]:
#why we use dict
#Data with Meaningful Labels
[21,23]
{"amit": 21, "mohit": 30}
# 1 You can quickly find or modify data using its key:
#store and access data using keys instead of numeric indexes
#Fast Lookup (Search)
#  Accessing a value by its key is very fast (O(1) time)
#Data with Meaningful Labels
[21, 23]
{"amit": 21, "mohit": 23}

{'amit': 21, 'mohit': 23}

# representation of dict in dataframe

In [9]:
import pandas as pd
df=pd.DataFrame(e)
df

    name  age
0   amit   21
1  mohit   21

In [10]:
l=['amit','mohit']
l1=[36,30]
df=pd.DataFrame({'name':l,'age':l1})
df

    name  age
0   amit   36
1  mohit   30

In [16]:
df=pd.DataFrame(df,columns=['name','age'])
df

    name  age
0   amit   36
1  mohit   30

# conversion of dict in to list,set

In [12]:
d={'name':'amit','age':21,'addr':'derabassi'}

print(set(d))
print(list(d))
d.keys() #This  returns a view object of the dictionary keys.
d.values() #This returns a view object of the dictionary values.

{'addr', 'name', 'age'}
['name', 'age', 'addr']

dict_values(['amit', 21, 'derabassi'])

In [13]:
for i in d.values():
    print(i)

amit
21
derabassi

In [14]:
list(d.keys())  # ['name', 'age', 'addr']
set(d.keys())   # {'name', 'age', 'addr'}

{'addr', 'age', 'name'}

In [15]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}

In [ ]:
# Accessing Values

In [ ]:
#.get(key, default) returns the value for key if it exists, otherwise returns default

In [16]:
print(student["grade"])     # Output: Aarav
print(d.get("age"))  # Output: 21

KeyError: 'grade'

In [ ]:
# keyerror

In [22]:
#print(d["gra"])     #error
print(student.get("age"))  # Output: 21

21

In [23]:
print(student.get("grade","N/A"))

N/A

# Adding & Updating Elements

In [24]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}

In [25]:
student["grade"] = "A"       # Add new key-value pair
student["age"] = 22          # Update existing value
print(student)

{'name': 'Aarav', 'age': 22, 'course': 'Computer Science', 'grade': 'A'}

In [ ]:
#permanenet change
student["age"] = 22    assignment # add and update single key
.setdefault #add but not update
update  # update existing key and add new key (multiple keys) 
# create new dict
#packing

In [17]:
#assignment example
s= {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
s['name']='amit'      #update
s

{'name': 'amit', 'age': 21, 'course': 'Computer Science'}

In [18]:
s['grade']='a' #add 
s

{'name': 'amit', 'age': 21, 'course': 'Computer Science', 'grade': 'a'}

In [34]:
#add but not update
s.setdefault("grade","b") # not update
s

{'name': 'ritu',
 'age': 21,
 'course': 'Computer Science',
 'grade': 'a',
 'address': 'karnal',
 'mob': 8529,
 'abc': 'xyz'}

In [20]:
s.setdefault("address","ambala") #add 
s

{'name': 'amit',
 'age': 21,
 'course': 'Computer Science',
 'grade': 'a',
 'address': 'ambala'}

In [21]:
# update existing key and add new key (multiple keys)
s.update({"address":"karnal"}) #update
s

{'name': 'amit',
 'age': 21,
 'course': 'Computer Science',
 'grade': 'a',
 'address': 'karnal'}

In [22]:
s.update({'mob':8529}) # add
s

{'name': 'amit',
 'age': 21,
 'course': 'Computer Science',
 'grade': 'a',
 'address': 'karnal',
 'mob': 8529}

In [23]:
s.update({"address": "karnal", "name": "ritu","abc":'xyz'})
print(s)

{'name': 'ritu', 'age': 21, 'course': 'Computer Science', 'grade': 'a', 'address': 'karnal', 'mob': 8529, 'abc': 'xyz'}

# combine two dict

In [24]:
student = {"name": "Riya", "age": 23}
new_data = {"grade": "A", "city": "Delhi"}

merged = {**student, **new_data}
print(merged)

{'name': 'Riya', 'age': 23, 'grade': 'A', 'city': 'Delhi'}

In [25]:
d1= {"name": "Riya", "age": 23}
d2= {"grade": "A", "city": "Delhi"}
new=d1|d2
new

{'name': 'Riya', 'age': 23, 'grade': 'A', 'city': 'Delhi'}

In [29]:
a={"name":"amit","age":21}
b={"name":"mohit","age":21}
c=a|b
print(c)

{'name': 'mohit', 'age': 21}

In [ ]:
# add multiple element in dict
but dictionaries themselves store only one value per key.

In [35]:
student = {"name": "Riya", "grades": [85, 90]}

# Add another grade
student["grades"].append(95)
print(student)

{'name': 'Riya', 'grades': [85, 90, 95]}

In [36]:
# add new key with multiple element using list
student["age"].append(95) #give error
print(student)

KeyError: 'age'

In [37]:
#safe side
student = {"name": "Riya", "grades": [85, 90]}
student.setdefault("age", []).append(95)
student

{'name': 'Riya', 'grades': [85, 90], 'age': [95]}

In [38]:
student.setdefault("age", []).extend([95])
student

{'name': 'Riya', 'grades': [85, 90], 'age': [95, 95]}

In [39]:
student = {"name": "Riya", "grades": [85, 90]}

In [40]:
# do later
student["name"] = [student["name"]] if isinstance(student["name"], str) else student["name"]
print(student)
# Now append
student["name"].append('ritu')

print(student)

{'name': ['Riya'], 'grades': [85, 90]}
{'name': ['Riya', 'ritu'], 'grades': [85, 90]}

In [41]:
# remove
pop(key) # if not available key error
pop(key,None) #safer side
popitem #randomnly pop any item
del partially and fully
clear  # empty a dict

SyntaxError: cannot delete expression (2481098083.py, line 5)

In [42]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
print(student.pop('name'))

Aarav

In [43]:
print(student)

{'age': 21, 'course': 'Computer Science'}

In [44]:
student.pop('name') # give key error

KeyError: 'name'

In [1]:
student.pop('name',None) #SAFE SIDE

NameError: name 'student' is not defined

In [46]:
student.popitem()

('course', 'Computer Science')

In [47]:
student

{'age': 21}

In [48]:
#want to delete multiple key in one go
student = {"name": "Renu", "age": 22, "city": "Karnal", "grade": "A"}

for key in ["age", "city"]:  
    student.pop(key, None)

print(student)

{'name': 'Renu', 'grade': 'A'}

In [49]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
del student['name']

In [50]:
student

{'age': 21, 'course': 'Computer Science'}

In [51]:
student.clear()

In [52]:
del student

In [53]:
student

NameError: name 'student' is not defined

# membership

In [54]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
print("name" in student)
print(21 in student.values())

True
True

# Looping Through a Dictionary

In [55]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
student.items()

dict_items([('name', 'Aarav'), ('age', 21), ('course', 'Computer Science')])

In [56]:
for key in student:
    print(key, ":", student[key])

name : Aarav
age : 21
course : Computer Science

In [57]:
for key, value in student.items():
    print(key, "=", value)

name = Aarav
age = 21
course = Computer Science

In [58]:
for key in student.keys():
    print(key)

name
age
course

In [59]:
for value in student.values():
    print(value)

Aarav
21
Computer Science

In [60]:
student.keys() # list output

dict_keys(['name', 'age', 'course'])

In [61]:
student.values()

dict_values(['Aarav', 21, 'Computer Science'])

In [62]:
student.items()

dict_items([('name', 'Aarav'), ('age', 21), ('course', 'Computer Science')])

In [ ]:
Nested Dictionaries

In [ ]:
A nested dictionary is a dictionary where values themselves can be dictionaries 
(or even other collections like lists).

In [63]:
students has keys "student1", "student2"

SyntaxError: invalid syntax (2657005166.py, line 1)

In [64]:
students = {
    "student1": {"name": "Renu", "age": 22},
    "student2": {"name": "Ritu", "age": 21}
}
print(students["student1"])
print(students["student1"]["name"])

{'name': 'Renu', 'age': 22}
Renu

In [65]:
#update 
students["student2"]["city"] = "Noida"

In [66]:
# add new key value
students["student2"]["grade"] = "A"
print(students["student2"])

{'name': 'Ritu', 'age': 21, 'city': 'Noida', 'grade': 'A'}

In [67]:
# add new nested key
students["student3"] = {"name": "Ravi", "age": 20, "city": "Patiala"}
print(students["student3"])

{'name': 'Ravi', 'age': 20, 'city': 'Patiala'}

In [68]:
students

{'student1': {'name': 'Renu', 'age': 22},
 'student2': {'name': 'Ritu', 'age': 21, 'city': 'Noida', 'grade': 'A'},
 'student3': {'name': 'Ravi', 'age': 20, 'city': 'Patiala'}}

# merge the two dict

In [69]:
#If keys overlap, values from the second dictionary overwrite the first
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged = dict1 | dict2
print(merged)

{'a': 1, 'b': 3, 'c': 4}

In [70]:
dict1.update(dict2) #dict1 is changed itself
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

In [5]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged = {k: dict1.get(k, 0) + dict2.get(k, 0) for k in set(dict1) | set(dict2)}
print(merged)

{'a': 1, 'c': 0, 'b': 2}

In [32]:
a={"name":"amit","age":21}
b={"add":"derabassi","grade":"A"}

c={**a , **b}
print(c)

{'name': 'amit', 'age': 21, 'add': 'derabassi', 'grade': 'A'}

In [2]:
a={1:22,4:34}
b={"name":"amit","age":21}
c=a | b
print(c)

{1: 22, 4: 34, 'name': 'amit', 'age': 21}